body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  #boxtitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 27px;
  }
  
  .loginbox {
    padding: 16px;
    width: 400px;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #888888;
  }
  
  .temp_pwd{
    width: 300px;
  }
  /* Full-width input fields */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /* display: inline-block; */
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .btn {
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-outline-th {
    background-color: #fff;
    border-color: #F2994A;
    color: #F2994A;
  
  }
  
  .btn-outline-th:hover {
    transition-duration: 0.1s;
    border-color: #fff;
    color: #fff;
    background-image: linear-gradient(to right, #F2994A, #F2C94C);
  }
  
  button:disabled,
  button[disabled] {
    border: 1px solid #666666;
    background-color: white;
    color: #666666;
  }
  
  .btn-outline-th:disabled:hover {
    border: 1px solid #666666;
    color: #666666;
    background-color: white;
    cursor: not-allowed;
    background-image: none;
  }